
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.first{
    overflow: hidden;
    margin: auto;
    width: 80%;
    background-color: #5c57a4;
    padding: 15px;
    font-size: 18px;
}

.logo{
    float: left;
    color: white;
}

li{
    display: inline-block;
    color: white;
    margin-left: 15px;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.header{
    margin: auto;
    width: 80%;
    height: 100px;
    background-color: gray;
    text-align: center;
    font-size: 6vw;
}


@media screen and (max-width: 700px) {
    li{
        background-color: tomato;
    }
}

@media screen and (max-width: 550px) {
    .logo {
        float: none;
        text-align: center;
    }
    .menu {
        float: none;
        margin-top: 20px;
        text-align: center;
    }

    li{
        margin-bottom: 5px;
        padding: 10px;
        float: none;
        background-color: aqua;
    }
    
    
}
